/*
	File Name:		booking.css
	Names:			Connor Anglin Thompson, Jayden Crispin Moore, Yomalier Vazquez Maldonado
	Course:			COP 2822C at Valencia College
	Professor:		David Stendel
	Description:	The styling page for booking.html
	Date:			12/06/2023
*/

.collect-date {
    padding: 2em;
}

.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-space {
    padding: 1em;
}

textarea {
    width: 60%;
    margin: 1em;
}

select {
    width: 30%;
    text-align-last:center;
}

input[type=submit] {
    width: 20%;
    font-weight: bold;
    background-color: #d5b306;
}

.button:hover {
    background-color: #a88d07;
}