/*
	File Name:		events.css
	Names:			Connor Anglin Thompson, Jayden Crispin Moore, Yomalier Vazquez Maldonado
	Course:			COP 2822C at Valencia College
	Professor:		David Stendel
	Description:	The styling page for events.html
	Date:			12/06/2023
*/

ul {
	list-style-type: none;
}

body {
	font-family: Verdana, sans-serif;
}

h3 {
	padding-top: 3em;
	padding-bottom: 2em;
}

/* Calendar Container */
.calendar {
	padding-bottom: 5%;
	padding-left: 5%;
	padding-right: 5%;
	
}

/* Month header */
.month {
  padding: 7%;
  background: #d5b306;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  text-align:center;
  letter-spacing: 3px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Styles the up to 31 days */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the hovered day */
.days li:hover {
	background-color: #1abc9c;
	color: white;
}