/*
File Name: styles.css
Names: Connor Anglin Thompson, Jayden Crispin Moore, Yomalier Vazquez Maldonado
Course: COP 2822C at Valencia College
Professor: David Stendel 
Description: The styles page is where all of the code for the websites styles are held for the programmers eyes only.
Date: 11/19/2023
*/

/* CSS Reset */
body, header, nav, main, footer, img, h1, h2, h3, h4, ul, img {
    margin: 0;
    padding: 0;
    border: 0;
}

/*Style rules for body and images*/
body {
    background-color: #ffffff; /*Update Background Color*/
}
  
img, video {
    max-width: 100%;
    max-height: auto;
    display: block;
}

/* Style rules for skip navigation link */
.skip {
    position: absolute;
    left: -999px;
}
 
.skip:focus {
    color: #fff;
    background-color: #2a1f14;
    text-decoration: none;
    padding: 0.5%;
    top: auto;
    left: auto;
    right: 1px;
    z-index: 1;
}

/* Style rules for mobile viewport */

/* Style rules to show mobile class and hide tab-desk class */
.mobile, .mobile-tablet {
    display: block;
}

.tab-desk, .desktop {
    display: none;
}

/*Style rules for header area */
h1 {
    font-family: 'Roboto', sans-serif;


}

h3 {
    font-family: 'ABeeZee', sans-serif;

}

h4 {
    padding-top: 4%;
    font-family: 'Dancing Script', cursive;
    text-align: center;
    padding-bottom: 4%;
    font-size: 5em;
    text-decoration: wavy;
}

/* Style rules for body */

body {
    background-color: #ededebd9;
}

/*Instead create a grid box with the image as a left cell and everything else in one big cell
/* Style rules for navigation area */
nav {
    background-color: #d5b306;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
  
nav ul {
    list-style-type: none;
    text-align: center;
    padding: 0.5em;
}
  
nav li {
    display: inline;
    font-size: 1.5em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
}

nav li img {
    display: inline;
    width: 10%;
    height: 10%;
    padding: 0.5em;
    float: left
}

nav a:link, nav a:active, nav a:visited{
    color: white;
    padding: 1em;
    text-decoration: none;
    font: bold;
}

nav li a:hover {
    text-decoration: underline;
}

/* Style Rules for main */
main { 
    font-family: 'Lora', serif;

}

 /* Styling for featured rooms and packages */
 #content {
    text-align: center;
}

table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

table, th, td {
    border: 2px solid #ffffff;
}

th, td {
    padding: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

tr img {
    object-fit: contain;
}

.package {
    width: 60%;
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

 /* Style rules for testimonials */
 .testimonial-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.testimonial-text {
    font-family: 'Lora', sans-serif;
    font-size: 1.2em;
    color: #555;
    margin-bottom: 10px;
}

.testimonial-author {
    font-family: 'ABeeZee', sans-serif;
    font-size: 1.1em;
    color: #888;
}

/* Style rules for contact*/
body {
    line-height: 1.6;
    letter-spacing: 0.02em;
}

h1, h2, h3, h4 {
    margin-bottom: 15px;
}

p, ul, ol, li {
    margin-bottom: 10px;
}

#common-questions {
    margin-bottom: 40px;
}

#speak-to-representative {
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 8px;
}

textarea,
input {
    width: 90%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Style rules for buttons*/
.button {
    background-color: #99dc62;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #d5b306;
}

/*Style rules for class and id selectors*/
aside{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 4px 4px 10px #c5a687;
  
  }
  
  figure {
      border: 1px solid #ddd;
      box-shadow: 6px 6px 10px #c5a687;
      max-width: 400px;
      margin: 2% auto;
  }
  
  figcaption {
      padding: 2%;
      border-top: 1px solid #ddd;
  }

/* Style rules for container elements */
.container {
    max-height: 700px;
    width: 100%;
    overflow: hidden;
}

.container-img {
    width: 100%;
    object-fit: fill;
} 

h1 {
    text-align: center;
    padding: 2em;
}
    

/* Style rules for footer */

footer {
    background-color: #d5b306;
    text-align: center;
    font-size: 0.85em;
    color: #f6eee4;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 0%;
    padding-right: 0%;
}

.social img {
    display: inline-block;
    padding: 4%;
}

/* Media Query for Tablet Viewport */
@media screen and (min-width:620px),
print {

    /* Tablet Viewport: Show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }

    .mobile {
        display: none;
    }
}

/* Media Query for Desktop Viewport */
@media screen and (min-width:1000px),
print {

    /* Desktop Viewport: Show desktop class, hide mobile-tablet class */
    .desktop {
        display: block;
    }

    .mobile-tablet {
        display: none;
    }
}
